
{% include 'header.html' %}
<div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Visiting Hours Details</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Service Name</th>
                    <th>Doctor Name</th>
                    <th>Service Description</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td><a href="#" class="btn btn-success btn-xs">Edit</a> <a href="#" class="btn btn-danger btn-xs">Delete</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
</div>
{% include 'footer.html' %}